<div class="search-container">
  <form class="search-form" #form="ngForm" (ngSubmit)="onSubmit(form)">
    <h1><img src="/assets/logo.png" [ngStyle]="{'width':'50px','height':'50px'}"></h1>
<h3>Gaming Zone</h3>
    <!--<span class="logo" routerLink="/">NgVGDB</span>-->
    <input
      class="search-input"
      name="search"
      ngModel
      placeholder="Search 500,000+ games" [ngStyle]="{'margin-left':'-130px','float':'left'}"
    />
    <button class="search-button"><mat-icon>search</mat-icon></button>
  </form>
</div>
